@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body 
{
	background: white;
	color: white; 
	font-weight: bold;
	font-family: "Open Sans", Arial;
	font-stretch: wider;
	background-color:black;
	background: url("/ClientSide/Campus-Blizzard-3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:4;
}
#overlay{background:none repeat scroll 0 0 rgba(0, 4, 8, 0.6);height:100%}
#test1
{
	background: #33CCCC;
	color: #003366; 
	font-weight: bold;
	font-family: inherit;
	font-stretch: wider;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:4;
}
iframe{
	border: 1px; 
	height: 100px;
	width: 500px;
}
table{
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
th{
	font-family: cursive;
	vertical-align: top;
}
tr{
	font-family: cursive;
	vertical-align: top;
}
td{
	padding: 8px;
	vertical-align: top;
	
}
h1{
	color: yellow; 
	font-size: 20px;
}
input{
	background-color: #F0F8FF;
	font-weight: bold;	
}
a:link 
{
	font-weight:bold;
	color: Black;
}
a:visited 
{
	font-weight:bold;
	color: Orange;
}
a:hover 
{
	font-weight:bold;
	color: Red;
}
a:focus 
{
	font-weight:bold;
	color: SkyBlue;
}
a:active 
{
	font-weight:bold;
	color: white;
}
.button{
	background-color:#282826;
	color:white;
	font-weight:bold;
	border:0px;
	height:25px;
	padding:2px 8px 2px 8px;
}
 #test {
 	font-family: 'Oswald', sans-serif;
   	list-style: none;
	font-size:30px;
	height:40px;
	text-align: inherit	;
 	color: white;
 	margin:-16px;
 	margin-left:-80px;
 	margin-bottom:-35px;
 	width:106%;
 }

  .nav ul {
  text-align: center;
  height: 50px;	
  padding: 0;
  background: ;
 }
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 40px;
  height: 50px;
  width: 33%;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
    height:100%;
    display: inline-block;
    margin-right: -4px;
  
}
 
.nav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: skyblue;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
 
 
 
 
 
 
.nav1 a {
  text-decoration: none;
  display: block;
  text-align: center;
  height:100%;
  transition: .3s background-color;
}
 
.nav1 a:hover {
	height:100%;
  background-color: #005f5f;
}
 
.nav1 a.active {
	height:100%;
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
 
 
  .nav1 ul {
   	list-style: none;
 	text-align: center;
  	padding: 0;
  	width:60%;
  	  	list-style: none;
  	background-color: skyblue;
 	text-align: center;
  	padding: 0;
  	 margin-left:-20px;
  	margin-top: :-20px;
}
.nav1 li {
  	font-size: 12px;
  	line-height: 40px;
  	height: 40px;
  	border-bottom: 1px solid #888;
	font-family: 'Oswald', sans-serif;
  	font-size: 1.2em;
  	width:100%;
 	height:100%;
  	text-align: center;
  	vertical-align: middle;
}
 
.nav1 a {
  text-decoration: none;
  color: #003366;
  display: block;
  transition: .3s background-color;
}
 
.nav1 a:hover {
  background-color: red	;
}
 
.nav1 a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 